.main-header {
  height: 130px;
}

.main-header-one {
  font-size: 60px;
  padding-bottom: 15px;
  width: 75%;
}

.logout {
  position: absolute;
  top: 30px;
  right: 0;
  width: 70px;
  border-radius: 100px;
}

.well {
  background-color: #81b9bf;
}

.well-code-body {
  background-color: #FFFFFF;
}

.search-area {
  height: 260px;
  /*border-radius: 50px;*/
}

.search-area input {
  height: 33px;
}

.search-area button {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.snippet-block {
  border-radius: 25px;
  background-color: #81b9bf;
}

.snip-head {
  font-weight: bold;
  border-bottom: 2px solid #003d33;
  margin-bottom: 10px;
  padding-bottom: 15px;
}

.snip-code-title {
 text-align: left;
}

.well-code-body {
  border: 1px solid #003d33;
}



/****LOGIN PAGE****/

.jumbotron h1.main-header-login {
  font-size: 100px;
}

.login-header {
  background-color: #81b9bf;
  text-align: center;
}
