<div class="jumbotron">
  <h1>Please add a code snippet below!</h1>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-8">
      <form action="/create" class="input-group row" method="post">
              <input type="text" name="title" class="form-control form-control-lg" placeholder="Title">
              <br>
              <br>
              <textarea name="bodytext" rows="15" cols="100" placeholder="Please add code here!"></textarea>
              <br>
              <input type="text" name="notes" class="form-control form-control-lg" placeholder="Notes">
              <br>
              <br>
              <input type="text" name="language" class="form-control form-control-lg" placeholder="Language">
              <br>
              <br>
              <input type="text" name="tags" class="form-control form-control-lg" placeholder="Tags">
              <br>
              <br>
              <button type="submit" class="col-md-12 btn btn-primary" type="button">Create</button>
      </form>
    </div>
  </div>
</div>
